
214 Project_Mediator/cmake-build-debug/Testing/Temporary/LastTest.log
214 Project_Mediator/cmake-build-debug/.cmake/api/v1/reply/cache-v2-89b6484503eb97b9047f.json
214 Project_Mediator/cmake-build-debug/.cmake/api/v1/reply/cache-v2-89b6484503eb97b9047f.json
214 Project_Mediator/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-a0f8ea6020069bf53d74.json
214 Project_Mediator/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-a0f8ea6020069bf53d74.json
214 Project_Mediator/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-a0f8ea6020069bf53d74.json
214 Project_Mediator/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-a0f8ea6020069bf53d74.json
214 Project_Mediator/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-a0f8ea6020069bf53d74.json
214 Project_Mediator/cmake-build-debug/.cmake/api/v1/reply/cache-v2-89b6484503eb97b9047f.json
214 Project_Mediator/cmake-build-debug/.cmake/api/v1/reply/cache-v2-89b6484503eb97b9047f.json
214 Project_Mediator/cmake-build-debug/.cmake/api/v1/reply/cache-v2-89b6484503eb97b9047f.json
214 Project_Mediator/cmake-build-debug/.cmake/api/v1/reply/cache-v2-89b6484503eb97b9047f.json
214 Project_Mediator/cmake-build-debug/.cmake/api/v1/reply/cache-v2-89b6484503eb97b9047f.json
214 Project_Mediator/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-a0f8ea6020069bf53d74.json
214 Project_Mediator/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-709c82cc18ac8c079964.json
214 Project_Mediator/cmake-build-debug/.cmake/api/v1/reply/index-2023-10-19T09-29-15-0374.json
*.txt
*.md

/.vscode/*
/Makefile
